.vscode/**
.vscode-test/**
src/**
!src/parser/
!src/parser/parser
!src/parser/goparser.go
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
